* {
  font-family: 'Helvetica Neue', Roboto, sans-serif;
  margin: 0;
}

/* START making the top and bottom "sticky" */
header {
  height: 3em;
  line-height: 3em;
  position: fixed;
  top:0;
}
nav {
  top: 3em;
  height: 3em;
  line-height: 3em;
  position: fixed;
}
footer {
  position: fixed;
  bottom: 0;
}
main {
  margin-top: 7em;
  margin-bottom: 3em;
}
/* END making the top and bottom "sticky" */

/* START skin */
header, nav, footer {
  background-color: #387EF5;
  color: white;
}
nav {
  color: #444;
}
nav ul li.active {
  border-bottom: solid 2px #444;
}
/* END skin */

/* START header */
header, nav, footer {
  z-index: 2;
}
header {
  width: 100%;
  overflow: hidden;
  vertical-align: middle;
}
header h1 {
  font-weight: normal;
  text-align: center;
  font-size: 1.5em;
}
/* END header */

/* START nav */
nav {
  height: 3em;
  line-height: 3em;
  overflow: hidden;
  width: 100%;
  vertical-align: baseline;
}
nav ul {
  list-style: none;
  height: 100%;
  padding-left: 0;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: center;
  -webkit-justify-content: center;
}
nav ul li {
  padding: 0 2.5em;
  display: inline-block;
}
nav a {
  text-decoration: none;
  opacity: 0.4;
}
nav ul li.active a {
  opacity: 1;
}
/* END nav */

footer {
  height: 2.5em;
  line-height: 2.5em;
  overflow: hidden;
  width: 100%;
  z-index: 1;
  vertical-align: middle;
  text-align: center;
}

main article {
  display: none;
}

/* BEGIN message styles */
.message {
  color: #666;
  margin: 20px 10px 20px 10px;
  box-shadow: rgba(0, 0, 0, 0.247059) 0 1px 4px 0;
}

.message__header {
  padding: 16px 16px 16px 72px;
  border-bottom: 2px solid #ddd;
}
.message__header img {
  max-width: 40px;
  max-height: 40px;
  border-radius: 25%;
  position: absolute;
  left: 32px;
  z-index: -100;
}
.message__header h2 {
  font-size: 16px;
}
.message__header p {
  font-size: 14px;
}
.message__body img {
  width: 100%;
  max-width: 400px;
}
.message__body {
  text-align: center;
  padding: 16px 16px 16px 16px;
  border-bottom: 2px solid #ddd;
}
/* END message styles */

/* BEGIN card style */
.card {
  color: #666;
  margin: 20px 10px 20px 10px;
  box-shadow: rgba(0, 0, 0, 0.247059) 0 1px 4px 0;
}
.card__header {
  padding: 16px 16px 16px 16px;
  border-bottom: 2px solid #ddd;
  background-color: #f5f5f5;
  color: #222;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card__body {
  padding: 16px 16px 16px 16px;
  border-bottom: 2px solid #ddd;
}
/* END card style */